{% extends 'index.html' %}

{% block title %}About Us{% endblock %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
    <style>
        h1 {
            color: rosybrown;
            text-transform: uppercase;
            font-style: italic;
            text-align: center;
            font-size: 3vw
        }

        article {
            font-size: 20px;
            color: #581845;
            font-family: Georgia;
            border: solid 1px black;
            margin-right: 15%;
            margin-left: 15%;
            padding: 8px;
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>

<body>

    <form>

        <div class="container">
            <main>
                <br>
                <h1> Welcome to UTAS Parking</h1>

                <article>
                    Students find it difficult to search for parking, so we decided to design a website that can help
                    them search for parking and they can save time. The site was designed and developed to stand out
                    from the rest of the sites on the Internet with the support of some social media influencers who
                    provide advice and highlight what is new and noteworthy at the time. Students can also purchase a
                    number of books and also print their courses through the site with one click.</article>
                <br>
                <br>
                <br>

            </main>

            <br>
        </div>
    </form>

</body>
{% endblock %}